#canvas {
    text-align: center;
    position: relative;
}

canvas {
    border: 1px solid hsl(0, 0%, 0%);
    display: inline;
}

#physCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#hoverCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}